@charset "utf-8";
/* jsp CSS Table Document */


#content table {
	width: 100%;
	border: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #278092;
	table-layout: fixed;/*列寬由表格寬度及列寬決定*/
}

.table_title {
	font-size: 14px;
	font-weight: bolder;
	color: #E9F0E0;
	background-color: #278092;
}

td {
	font-size: 14px;
	text-align: right;
}

td.td_center {
	text-align: center;
}

/*
#content tr td {
	width: 100px;
	word-break: break-all;
	
}

*/
