<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Shinimex</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>dataBase</param-name>
		<!--  <param-value>192.168.3.3</param-value>-->

		<!--  <param-value>192.168.3.126</param-value>--><!-- 二廠測試IP -->
		<param-value>10.211.55.6</param-value><!-- MAC測試IP -->
	</context-param>

	<context-param>
		<param-name>databaseName</param-name>
		<param-value>LIY_DDS</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>sa</param-value>
	</context-param>

	<context-param>
		<param-name>pw</param-name>
		<param-value></param-value>
	</context-param>













	<servlet>
		<servlet-name>testConn</servlet-name>
		<servlet-class>shinimex.model.TestConn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testConn</servlet-name>
		<url-pattern>/testConn.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pc_Progressxiexing</servlet-name>
		<servlet-class>shinimex.model.pc_Progressxiexing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pc_Progressxiexing</servlet-name>
		<url-pattern>/pc_Progressxiexing.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pc_ProgressKHDH</servlet-name>
		<servlet-class>shinimex.model.pc_ProgressKHDH</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pc_ProgressKHDH</servlet-name>
		<url-pattern>/pc_ProgressKHDH.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pc_ProgressgetOrders</servlet-name>
		<servlet-class>shinimex.model.pc_ProgressgetOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pc_ProgressgetOrders</servlet-name>
		<url-pattern>/pc_ProgressgetOrders.do</url-pattern>
	</servlet-mapping>

	<!-- 員工登入驗證 -->
	<servlet>
		<servlet-name>staffLogin</servlet-name>
		<servlet-class>shinimex.model.StaffLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>staffLogin</servlet-name>
		<url-pattern>/staffLogin.do</url-pattern>
	</servlet-mapping>

	<!-- 2015-08-18 訂單產能狀況表 -->
	<servlet>
		<servlet-name>orderStatus</servlet-name>
		<servlet-class>shinimex.model.OrderStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderStatus</servlet-name>
		<url-pattern>/orderStatus.do</url-pattern>
	</servlet-mapping>
	
	<!-- 2015-08-27 Delete & Update orderStatusData -->
	<servlet>
		<servlet-name>deleteData</servlet-name>
		<servlet-class>shinimex.model.DeleteData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteData</servlet-name>
		<url-pattern>/deleteData.do</url-pattern>
	</servlet-mapping>

	<!-- 2015-09-07 editFormula -->
	<servlet>
		<servlet-name>editFormula</servlet-name>
		<servlet-class>shinimex.model.EditFormula</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editFormula</servlet-name>
		<url-pattern>/editFormula.do</url-pattern>
	</servlet-mapping>
	
	<!-- 2015-09-22 EditFormula_getcldh -->
	<servlet>
		<servlet-name>getcldh</servlet-name>
		<servlet-class>shinimex.model.EditFormula_getcldh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getcldh</servlet-name>
		<url-pattern>/EditFormula_getcldh.do</url-pattern>
	</servlet-mapping>
	
	<!-- 2015-10-12 pc_produceList -->
	<servlet>
		<servlet-name>produceList</servlet-name>
		<servlet-class>shinimex.model.pc_produceList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>produceList</servlet-name>
		<url-pattern>/pc_produceList.do</url-pattern>
	</servlet-mapping>
	
	<!-- 2015-10-12 pc_shipmentList -->
	<servlet>
		<servlet-name>shipmentList</servlet-name>
		<servlet-class>shinimex.model.pc_shipmentList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shipmentList</servlet-name>
		<url-pattern>/pc_shipmentList.do</url-pattern>
	</servlet-mapping>
</web-app>